body{
    background-image: url('https://wallpapertag.com/wallpaper/full/e/7/5/156694-white-gradient-background-1920x1080-for-lockscreen.jpg');
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image{
    width: 370px;
    margin-top: 50px;
}

@media(max-width: 770px){
    .container{
        margin: 0 10%;
    }
    .image {
        width: 100%;
    }
}